game/saves
game/cache

errors.txt
log.txt
traceback.txt


game/gui.rpyc
game/options.rpyc
game/screens.rpyc
game/script.rpyc
game/dilemma_1.rpyc
game/dilemma_2.rpyc
game/dilemma_3.rpyc
game/dilemma_4.rpyc
game/dilemma_5.rpyc